* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap; }

.noticiavert div {
  transition: 2s; }

.noticiavert div:hover {
  transform: scale(1.2); }

@keyframes idolos {
  from {
    margin-right: 100%;
    width: 300%; }
  to {
    margin-right: 0;
    width: 100%; } }

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header nav {
  background-color: #8a0f0f; }

.nav-link {
  color: white;
  font-size: 25px;
  font-family: Verdana;
  font-style: italic; }

.logo {
  width: 120px;
  height: 120px; }

.hero {
  width: 100%;
  height: 550px;
  margin-bottom: 60px; }
  .hero section div img {
    width: 100%;
    height: 500px;
    position: relative; }
  .hero section div h2 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-style: normal;
    text-decoration: none;
    font-size: 40px;
    margin: 10px;
    position: absolute; }

.herocentral2 {
  position: relative;
  bottom: auto; }
  .herocentral2 h2 {
    background-color: #8a0f0f;
    color: white; }

/*------------- NOTICIAS VERTICALES-----------*/
.notivert {
  width: 98%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px; }
  .notivert .noticiavert div {
    border: 2px solid black;
    margin-top: 35px;
    width: 98%;
    height: 250px;
    background-color: #e6e3e3; }
    .notivert .noticiavert div img {
      width: 100%;
      height: 200px; }
    .notivert .noticiavert div h2 {
      text-align: center; }
    .notivert .noticiavert div a {
      width: 100%;
      text-align: justify;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic;
      text-decoration: none;
      font-size: 17px; }

/*-----noticia verticales  GRID------*/
.contenedor {
  width: 80%;
  padding: 25px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "principal principal columna1" "principal principal columna2" "principal principal columna3"; }
  .contenedor .grid-items a img {
    object-fit: cover;
    box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75); }
  .contenedor .grid-items img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .contenedor .grid-items h2 {
    position: relative; }
    .contenedor .grid-items h2 a {
      font-size: 20px;
      font-style: italic;
      text-decoration: none;
      color: white;
      position: absolute;
      bottom: 0;
      background-color: black;
      width: 100%;
      padding: 5px;
      text-align: center; }
  .contenedor .segundoitem {
    grid-area: columna1;
    margin: 15px; }
  .contenedor .terceritem {
    grid-area: principal;
    margin: 15px; }
  .contenedor .cuartoitem {
    grid-area: columna2;
    margin: 15px; }
  .contenedor .quintoitem {
    grid-area: columna3;
    margin: 15px; }

/*---------- noticia carrusel------*/
.carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px; }
  .carrusel h2 {
    font-size: 50px;
    font-style: italic;
    background-color: #8a0f0f;
    border: solid 2px black;
    color: white; }

/*----- pages ------*/
.paginas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .paginas h2 {
    color: #8a0f0f;
    font-family: Verdana;
    text-decoration: none;
    font-size: 40px;
    text-align: justify;
    text-align: center;
    margin: 10px;
    padding: 10px; }
  .paginas img {
    width: 100%;
    height: 400px;
    object-fit: contain; }
  .paginas h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: justify;
    margin: 10px; }
    .paginas h3 a:hover {
      color: red; }
  .paginas p {
    color: black;
    text-align: center;
    font-size: 20px; }
  .paginas iframe {
    margin-top: 10px; }

.deportefavorito {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif; }

.registro {
  margin: 10px; }
  .registro section .registro1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px; }

.deporte {
  color: red;
  font-size: 20px; }

.biografia {
  display: grid;
  justify-content: center; }
  .biografia h3 {
    font-size: 35px;
    font-family: cursive;
    font-style: oblique;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.295);
    color: black;
    animation-name: idolos;
    animation-duration: 5s;
    animation-timing-function: ease; }
  .biografia .bio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    object-fit: contain;
    width: 40%;
    height: auto;
    gap: 10px;
    align-content: center;
    margin-bottom: 30px;
    transition: 3s;
    grid-template-areas: "lionel cristiano mbappe" "maradona zidane ronaldo"; }
    .biografia .bio .grid-items img {
      margin: 20px;
      width: 200px;
      height: 200px;
      object-fit: contain;
      background-color: rgba(119, 99, 99, 0.493);
      box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75); }
    .biografia .bio .grid-items a {
      width: 250px;
      text-align: right;
      color: red;
      font-size: 20px;
      background-color: transparent;
      color: black;
      text-decoration: none; }
    .biografia .bio .grid-items h2 {
      font-size: 20px;
      font-family: cursive;
      font-style: oblique;
      text-align: center;
      background-color: rgba(182, 19, 19, 0.295);
      color: #c40808; }
    .biografia .bio .item1 {
      grid-area: lionel; }
    .biografia .bio .item2 {
      grid-area: cristiano; }
    .biografia .bio .item3 {
      grid-area: mbappe; }
    .biografia .bio .item4 {
      grid-area: maradona; }
    .biografia .bio .item5 {
      grid-area: zidane; }
    .biografia .bio .item6 {
      grid-area: ronaldo; }

footer {
  background-color: #8a0f0f;
  bottom: 0; }
  footer .colaboradores1 {
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-align: center; }
  footer .colaboradores {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    footer .colaboradores a {
      color: white;
      text-decoration: none; }
    footer .colaboradores h3 {
      text-align: center;
      margin-left: 10px;
      font-size: 30px; }
  footer .redes {
    margin: 10px;
    display: flex;
    justify-content: space-around; }
    footer .redes a:hover {
      transition: 1s;
      transform: scale(1.4); }

@media screen and (max-width: 1200px) {
  .paginas h2 {
    color: black;
    font-family: Verdana;
    text-decoration: none;
    font-size: 30px;
    text-align: center; }
  .paginas img {
    width: 100%;
    height: 400px;
    object-fit: contain; }
  .paginas p {
    color: black;
    text-align: center;
    font-size: 20px; }
  .paginas h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: justify; } }

@media screen and (max-width: 1056px) {
  .hero {
    margin: 5px;
    justify-content: space-around; }
  .herocentral div a img {
    width: 100%;
    height: 450px;
    position: relative; }
  .herocentral div a h2 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
    position: absolute; } }

@media screen and (max-width: 1000px) {
  .notivert {
    width: 99%;
    height: 920px;
    flex-direction: column;
    justify-content: center;
    margin: 10px; }
  .noticiavert {
    width: 600px;
    height: 300px; }
  .noticiavert div img {
    width: 500px;
    height: 300px; }
  .noticiavert div h2 a {
    font-size: 35px;
    color: black; } }

@media screen and (max-width: 950px) {
  .publicidad a img {
    display: none; }
  .herocentral2 a img {
    width: 100%; }
  .hero {
    margin: 10px;
    width: 100%; }
  .herocentral div a h2 {
    width: 98%; } }

@media screen and (max-width: 850px) {
  .contenedor {
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "principal columna1" "columna2  columna3"; }
  .grid-items {
    position: relative; }
  .grid-items img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .grid-items a img {
    object-fit: cover;
    box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75); }
  .grid-items h2 a {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 5px;
    text-align: center; }
  .segundoitem {
    grid-area: columna1;
    margin: 15px; }
  .terceritem {
    grid-area: principal;
    margin: 15px; }
  .cuartoitem {
    grid-area: columna2;
    margin: 15px; }
  .quintoitem {
    grid-area: columna3;
    margin: 15px; } }

@media screen and (max-width: 850px) {
  .biografia {
    display: grid;
    justify-content: center;
    width: 100%; }
    .biografia .bio {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "lionel cristiano" "mbappe maradona" "zidane ronaldo"; }
      .biografia .bio .grid-items h2 {
        display: none; }
        .biografia .bio .grid-items h2 a {
          background-color: red;
          display: none; } }

@media screen and (max-width: 800px) {
  .paginas h2 {
    color: black;
    font-family: Verdana;
    text-decoration: none;
    font-size: 25px;
    text-align: justify;
    text-align: center;
    width: 100%; }
  .paginas img {
    width: 100%;
    height: 400px;
    object-fit: contain; }
  .paginas p {
    color: black;
    text-align: center;
    font-size: 20px; }
  .paginas h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: justify; } }

@media screen and (max-width: 800px) {
  .colaboradores a h3 {
    font-size: 20px; } }

@media screen and (max-width: 770px) {
  .noticiavert div h2 a {
    font-size: 20px; } }

@media screen and (max-width: 761px) {
  .herocentral div a img {
    width: 100%;
    padding: 0 30px; }
  .herocentral2 a h2 {
    width: 90%;
    font-size: 25px;
    margin-bottom: 10px; } }

@media screen and (max-width: 680px) {
  .paginas h2 {
    color: black;
    font-family: Verdana;
    text-decoration: none;
    font-size: 25px;
    text-align: justify;
    text-align: center;
    width: 100%;
    margin: 0; }
  .paginas img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 5px; }
  .paginas p {
    color: black;
    text-align: center;
    font-size: 20px; }
  .paginas h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: justify; } }

@media screen and (max-width: 661px) {
  .hero {
    width: 98%; }
  .herocentral div a img {
    width: auto 0; }
  .herocentral div a h2 {
    width: 95%;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    text-decoration: none; } }

@media screen and (max-width: 650px) {
  .contenedor {
    width: 99%;
    padding: 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "principal" "columna1" "columna2" "columna3"; }
  .grid-items img {
    object-fit: fill;
    width: 100%;
    box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75); }
  .grid-items h2 a {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 5px;
    text-align: center; }
  .segundoitem {
    grid-area: columna1;
    margin: 15px; }
  .terceritem {
    grid-area: principal;
    margin: 15px; }
  .cuartoitem {
    grid-area: columna2;
    margin: 15px; }
  .quintoitem {
    grid-area: columna3;
    margin: 15px; } }

@media screen and (max-width: 650px) {
  .carrusel h2 {
    font-size: 30px; } }

@media screen and (max-width: 650px) {
  .notivert {
    width: 99%;
    height: 1000px; }
  .noticiavert {
    width: 400px;
    height: 300px;
    margin: 1px; }
  .noticiavert div img {
    width: 400px;
    height: 200px; } }

@media screen and (max-width: 630px) {
  .carrusel {
    display: none; } }

@media screen and (max-width: 590px) {
  .colaboradores a h3 {
    font-size: 18px; }
  .colaboradores1 {
    width: 100%; }
  .redes {
    display: none; }
  .paginas iframe {
    display: none; }
  .paginas p {
    display: none; } }

@media screen and (max-width: 500px) {
  .herocentral div a img {
    width: 100%; }
  .herocentral div a h2 {
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    padding: 5px; } }

@media screen and (max-width: 500px) {
  .biografia {
    width: 95%; }
    .biografia .bio {
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-areas: "lionel" "cristiano" "mbappe" "maradona" "zidane"  "ronaldo"; } }

@media screen and (max-width: 450px) {
  .notivert {
    width: 99%;
    height: 800px; }
  .noticiavert {
    width: 300px;
    height: 250px;
    margin: 1px; }
  .noticiavert div img {
    width: 300px;
    height: 150px; } }

@media screen and (max-width: 400px) {
  .carrusel h2 {
    font-size: 20px; }
  .herocentral div a img {
    object-fit: cover; } }

@media screen and (max-width: 350px) {
  .herocentral div a img {
    object-fit: cover; } }
