.hero{
    width: 100%;
    height: 600px;
    @extend %flex-1;
    margin-bottom: 30px;
    section{
        div{
            img{
                width: 100%;
                height: 500px;
                position: relative;
            }
            h2{
                width: 100%;
                text-align: center;
                color: nth($colores,2);
                font-family: Verdana;
                font-style: normal;
                text-decoration: none;
                font-size: 40px;
                margin: 10px;
                position: absolute;
            }
        }
    }
}

.herocentral2{
    position: relative;
    bottom: auto;
            h2{
            background-color: nth($colores,1);
            color: nth($colores,2);
            }
            }
/*------------- NOTICIAS VERTICALES-----------*/
.notivert{
    width: 100%;
    height: 300px;
    @include flex-2 (flex, space-around, center);
   
    .noticiavert{
        div{
            border: map-get($horizontal,borde);
            margin-top: map-get($horizontal,margen);
            width: map-get($horizontal,ancho);
            height: map-get($horizontal,ancho);
            background-color: map-get($horizontal,fondo);
            img{
                width: 100%;
                height: 200px
            }            
            h2{
                text-align: center;
            }
            a{
                width: 100%;
                text-align: justify;
                color: nth($colores,3);
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                text-decoration: none;
                font-size: 19px;
            }         
        }
    }
}
/*-----noticia verticales  GRID------*/
.contenedor{
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;

    grid-template-areas:
        "principal principal columna1"
        "principal principal columna2"
        "principal principal columna3";

.grid-items{
    position: relative;
        a{
            img{
                object-fit: cover;
                box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
            }
            }
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            }
        h2{
            a{
                font-size: 20px;
                font-style: italic;
                text-decoration: none;
                color: nth($colores,2);
                position: absolute;
                bottom: 0;
                background-color: nth($colores,3);
                width: 100%;
                padding: 5px;
                text-align: center;
            }
        }
    }
.segundoitem{
    grid-area: columna1;
    margin: 15px;
    }
.terceritem{
    grid-area: principal;
    margin: 15px;
    }
.cuartoitem{
    grid-area: columna2;
    margin: 15px;
    }
.quintoitem{
    grid-area: columna3;
    margin: 15px;
    }
}
/*---------- noticia carrusel------*/
.carrusel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    h2{font-size: 50px;
        font-style: italic;
        background-color: nth($colores,1);
        border: solid 2px black;
        color: nth($colores,2);
    }
}

/*----- pages ------*/


.paginas{
    @include flex-2 (flex,center,center);
    flex-direction: column;
    h2{
        color: nth($colores,1);
        font-family: Verdana;
        text-decoration: none;
        font-size: 40px;
        text-align: justify;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    img{
        width: 100%;
        height: 400px;
        object-fit: contain;
    }
    h3{
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        text-align: justify;
        margin: 10px;
    }
    p{
        color: nth($colores,3);
        text-align: center;
        font-size: 20px;
    }
    iframe{
        margin-top: 10px;
    }
}

.deportefavorito {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.registro{
    margin: 10px;
    section{
        .registro1{
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
        }
    }
}

.deporte{
    color: red;
    font-size: 20px;
}

.biografia{  
    display: grid;
    justify-content: center; 
    h3{
        font-size: 35px;
        font-family: cursive;
        font-style: oblique;
        text-align: center;
        background-color: rgba(169, 169, 169, 0.295);
        color: black;
    }
    .bio{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        object-fit: contain;
        width: 40%;
        height: auto;
        gap: 10px;
        align-content: center;
        margin-bottom: 30px; 
        transition: 3s;
    
        grid-template-areas:
        "lionel cristiano mbappe"
        "maradona zidane ronaldo";

        .grid-items{
            img{
                margin: 20px;
                width: 200px;
                height: 200px;
                object-fit: contain;
                background-color: rgba(119, 99, 99, 0.493);
                box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 14px 10px 39px -8px rgba(0, 0, 0, 0.75);
            }
            a{
                width: 250px;
                text-align: right;
                color: red;
                font-size: 20px;
                background-color: transparent;
                color: nth($colores,3);
                text-decoration: none;
             }
             h2{
                font-size: 20px;
                font-family: cursive;
                font-style: oblique;
                text-align: center;
                background-color: rgba(182, 19, 19, 0.295);
                color: rgb(196, 8, 8);
             }
            
        }
        .item1{
            grid-area: lionel;
        }
        .item2{
            grid-area: cristiano;
            
            

            
           
        }
        .item3{
            grid-area: mbappe;
            
            
           
        }
        .item4{
            grid-area: maradona;
            
           
           
        }
        .item5{
            grid-area: zidane;
            
            
           
        }
        .item6{
            grid-area: ronaldo;
            
            
            
        }

    }
        
}

