* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}

.noticiavert{
    div{
        transition: 2s;        
    }
}

.noticiavert{
    div:hover{
        transform: scale(1.2);
    }
}

@keyframes idolos{
    from{
        margin-right: 100%;
        width: 300%;
    }
    to{margin-right: 0;
        width: 100%;

    }
}